doctype html
html(lang="en-us")
	head
		include layout01/meta
		title Welcome to VSTECS Thailand
		link(rel='stylesheet', href='css/bootstrap.min.css',type:'text/css')
		link(rel='stylesheet', href='font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='css/animate.css',type:'text/css')
		link(rel='stylesheet', href='css/style.css',type:'text/css')
		block custom_style
		body.gray-bg
			block content