extends ../layouts/layout01

block custom_style
	// style(type='text/css')
		body {padding-top: 40px;}
		.color-red {color: red;}
		.color-blue {color: blue;} 

block navbar
	ul#side-menu.nav
		if user && user.username
			.row
				.col-md-12
					.well
						h3 Hello: #{user.username}
						p.small User Id: #{user.id}
						p.small Email: #{user.email}

block content-header
	header-layout
		welcome-message Welcome to #{site.name}

		

block content-body
	div#page-wrapper.gray-bg.dashbard-1
		router-view