extends ../layouts/layout01

block custom_style
	// style(type='text/css')
		body {padding-top: 40px;}
		.color-red {color: red;}
		.color-blue {color: blue;} 

block navbar
	ul#side-menu.nav
		profile(name='test',position='test1')
				
block content-header
	header-layout
		welcome-message Welcome to #{site.name}
		alerts-box
		messages-box
		
		logout
		

block content-body
	div#page-wrapper.gray-bg.dashbard-1
		router-view